<<<<<<< HEAD
/**
 * Normalize with Baseline Grid
 *
 * Makes elements consistent across browsers, sets up some decent
 * default css styles and a baseline grid.
 *
 * Adapted from http://github.com/necolas/normalize.css
 *
 * @version 1.0
 */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(/assets/js/libs/boxsizing.htc);
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/*
 * Corrects `inline-block` display not defined in IE6/7/8/9 & FF3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/*
 * Addresses styling for `hidden` attribute not present in IE7/8/9, FF3, S4.
 * Known issue: no IE6 support.
 */
[hidden] {
  display: none;
}

/* ========================================================== */
/* = Base                                                   = */
/* ========================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100.01%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/*
 * Addresses `font-family` inconsistency between `textarea` and other form
 * elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/*
 * Addresses margins handled incorrectly in IE6/7.
 */
body {
  margin: 0;
  font-size: 100%;
  color: #333333;
  line-height: 1.5em;
  font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, Sans-Serif;
  text-shadow: 0 -1px 1px rgba(255, 255, 255, 0.01);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  /* Stops Mobile Safari from auto-adjusting font-sizes */
}

/* ========================================================== */
/* = Selection                                              = */
/* ========================================================== */
::selection {
  background: #78aace;
  color: white;
}

::-moz-selection {
  background: #78aace;
  color: white;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

body {
  -webkit-tap-highlight-color: #78aace;
}

/* ========================================================== */
/* = Links                                                  = */
/* ========================================================== */
/*
 * Sets up color and transition.
 */
a {
  text-decoration: none;
  color: #6bac60;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers.
 * people.opera.com/patrickl/experiments/keyboard/test
 *
 * Sets up link hover color
 */
a:active,
a:hover {
  color: #78aace;
  outline: 0;
}

/* ========================================================== */
/* = Typography                                             = */
/* ========================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7.
 * Addresses font sizes within `section` and `article` in FF4+, Chrome, S5.
 * Sets up baseline.
 */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: bold;
  font-family: "Open Sans Condensed", "Helvetica Neue", Arial, Helvetica, Sans-Serif;
  color: #111111;
}

h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 2em;
  padding-top: 0.25em;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 1.5em;
  line-height: 1;
  padding-top: 0.35em;
  margin-bottom: 0.65em;
}

h4 {
  font-size: 1.2em;
  line-height: 1.25;
  padding-top: 0.45em;
  margin-bottom: 0.8em;
}

h5 {
  font-size: 1em;
  font-weight: bold;
  padding-top: 0.6em;
  margin-bottom: 0.9em;
}

h6 {
  font-size: 1em;
  font-weight: bold;
}

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome.
 */
abbr[title],
acronym {
  border-bottom: 1px dotted #dddddd;
}

/*
 * Addresses margin on address. Needs browser testing
 */
address {
  margin: 0 0 1.5em;
}

/*
 * Addresses style set to `bolder` in FF3+, S4/5, Chrome.
 */
b,
strong {
  font-weight: bold;
}

blockquote {
  margin: 0 1.5em 1.5em;
  font-style: italic;
}

/*
 * Addresses styling not present in S5, Chrome.
 */
em,
dfn {
  font-style: italic;
}

dfn {
  font-weight: bold;
}

/*
 * Addresses styling not present in IE6/7/8/9.
 */
mark {
  line-height: 1.5;
  background: #78aace;
  color: white;
}

/*
 * Addresses margins set differently in IE6/7. Sets up baseline.
 */
p {
  margin: 0 0 1.5em;
}

pre {
  white-space: pre;
}

/*
 * Fades del.
 */
del {
  color: #dddddd;
}

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome.
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
code,
kbd,
pre,
samp {
  font-family: 'andale mono', 'lucida console', monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
  line-height: 1.5;
}

/*
 * Improves readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/*
 * Addresses CSS quotes not supported in IE6/7.
 */
q {
  quotes: none;
}

/*
 * Addresses `quotes` property not supported in S4.
 */
q:before,
q:after {
  content: '';
  content: none;
}

ins,
small {
  font-size: 75%;
  line-height: 1.5;
}

/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 * gist.github.com/413930
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/*
 * Set line height for kbd and samp
 */
kbd,
samp {
  line-height: 1.4;
}

/*
 * Styling for horizontal rules
 */
hr {
  background: #cccccc;
  color: #cccccc;
  clear: both;
  float: none;
  width: 100%;
  height: 1px;
  margin: 0 0 1.45em;
  border: none;
}

/* ==========================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7.
 * Addresses paddings set differently in IE6/7.
 */
menu,
ol,
ul {
  margin: 0 1.5em 1.5em 0;
}

menu,
ul,
ol {
  padding-left: 1.5em;
}

dl {
  margin: 0 0 1.5em 0;
}

dl dt {
  font-weight: bold;
}

dd {
  margin-left: 1.5em;
}

/*
 * Consistent list styles
 */
ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

/*
 * Remove margins from li elements
 */
li ul,
li ol {
  margin: 0;
}

/*
 * Corrects list images handled incorrectly in IE7.
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside `a` element in IE6/7/8/9, FF3.
 * 2. Improves image quality when scaled in IE7.
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/*
 * Corrects overflow displayed oddly in IE9.
 */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11.
 */
figure {
  margin: 0;
}

/*
 * Make images responsive
 */
figure img {
  width: 100%;
  height: auto;
  display: block;
}

/*
 * Figcaption styling
 */
figcaption {
  font-size: small;
  font-style: italic;
  color: #666666;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7.
 */
form {
  margin: 0;
}

/*
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE6/7/8/9.
 * 2. Corrects text not wrapping in FF3.
 * 3. Corrects alignment displayed oddly in IE6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/*
 * 1. Corrects font size not being inherited in all browsers.
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome.
 * 3. Improves appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/*
 * Addresses FF3/4 setting `line-height` on `input` using `!important` in the
 * UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/*
 * Re-set default cursor for disabled elements.
 */
button[disabled],
input[disabled] {
  cursor: default;
}

/*
 * 1. Addresses box sizing set to content-box in IE8/9.
 * 2. Removes excess padding in IE8/9.
 * 3. Removes excess padding in IE7.
 *    Known issue: excess padding remains in IE6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  *behavior: url(/assets/js/libs/boxsizing.htc);
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/*
 * 1. Addresses `appearance` set to `searchfield` in S5, Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in S5, Chrome (include `-moz`
 *    to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
 * Removes inner padding and border in FF3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9.
 * 2. Improves readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/*
 * Some base styling for forms.
 */
form {
  margin-bottom: 1.5em;
}

form ul {
  list-style-type: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
form ul li {
  *zoom: 1;
  margin-bottom: 1.5em;
}
form ul li:before, form ul li:after {
  content: "";
  display: table;
}
form ul li:after {
  clear: both;
}

fieldset {
  margin: 0;
  padding: 1.5em;
}

label {
  display: block;
}

label.inline {
  display: inline;
  padding-right: 24px;
}

input:focus,
textarea:focus,
select:focus {
  outline: 0px;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

input[type="text"],
input[type="url"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime-local"],
input[type="telephone"],
textarea {
  display: block;
  width: 100%;
  margin: 0 0 0.75em;
  padding: 0.3em;
  border: 1px solid #cccccc;
  line-height: 1.5em;
  font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, Sans-Serif;
}

select {
  width: 100%;
  height: 2.1em;
  margin-bottom: 0.9em;
  border: 1px solid #cccccc;
  font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, Sans-Serif;
}

input[type="range"],
input[type="color"] {
  vertical-align: middle;
  height: 1.5em;
  width: 100%;
  font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, Sans-Serif;
}

input[type="range"] {
  height: 1.4em;
}

input[type="color"] {
  width: 1.5em;
  font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, Sans-Serif;
}

progress,
meter {
  display: block;
  width: 100%;
  height: 1.5em;
}

input[type="submit"],
input[type="button"] {
  border: 1px solid #cccccc;
  background: #ddd;
  padding: 0.7em 2em;
  margin: 0 20px 0 0;
  font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, Sans-Serif;
  line-height: 1.5em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}

/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 * Some base styling for tables.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 1.4em;
  width: 100%;
  border: 1px solid #cccccc;
}

thead {
  text-align: left;
  font-weight: bold;
}

tbody tr:nth-child(even) td {
  background: #dddddd;
}

tfoot {
  font-style: italic;
}

tfoot td, th {
  padding: .75em 10px;
}

th, td, caption {
  border: 1px solid #cccccc;
}

td {
  padding: 0 10px 0 10px;
  line-height: 1.45em;
}

caption {
  border-bottom: 0;
  padding: .75em 10px;
  line-height: 1.45em;
  text-align: left;
  font-style: italic;
}

body {
  background: url(../images/bg.png) 0 2px;
}

header#worlds_birth > div {
  *zoom: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(/assets/js/libs/boxsizing.htc);
  display: block;
  max-width: 1008px;
  margin: 0 auto;
  padding: 0 0;
}
header#worlds_birth > div:before, header#worlds_birth > div:after {
  content: "";
  display: table;
}
header#worlds_birth > div:after {
  clear: both;
}
header#worlds_birth > div hgroup {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(/assets/js/libs/boxsizing.htc);
  display: inline;
  float: left;
  width: 100%;
  padding: 0 20px;
  padding-top: 1.5em;
  margin-bottom: 2px;
}
header#worlds_birth > div nav ul {
  *zoom: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(/assets/js/libs/boxsizing.htc);
  display: inline;
  float: left;
  width: 100%;
  padding: 0 20px;
  margin-bottom: 1.5em;
  text-align: center;
  font-weight: bold;
}
header#worlds_birth > div nav ul:before, header#worlds_birth > div nav ul:after {
  content: "";
  display: table;
}
header#worlds_birth > div nav ul:after {
  clear: both;
}
header#worlds_birth > div nav ul li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(/assets/js/libs/boxsizing.htc);
  display: inline;
  float: left;
  width: 25%;
  padding: 0 0;
}
header#worlds_birth > div nav ul li a {
  display: block;
  background: #6bac60;
  padding: .75em 0;
  border-right: 1px solid #fff;
  color: #fff;
}
header#worlds_birth > div nav ul li a:hover, header#worlds_birth > div nav ul li a:focus {
  background: #78aace;
}

#content > div {
  *zoom: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(/assets/js/libs/boxsizing.htc);
  display: block;
  max-width: 1008px;
  margin: 0 auto;
  padding: 0 0;
}
#content > div:before, #content > div:after {
  content: "";
  display: table;
}
#content > div:after {
  clear: both;
}
#content > div > section {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(/assets/js/libs/boxsizing.htc);
  display: inline;
  float: left;
  width: 66.667%;
  padding: 0 20px;
}
#content > div > aside {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(/assets/js/libs/boxsizing.htc);
  display: inline;
  float: left;
  width: 33.333%;
  padding: 0 20px;
}
#content > div > aside > div:last-child p {
  margin-bottom: 0;
}
#content > div > aside > div:last-child div:last-child p {
  margin-bottom: 1.5em;
}
#content > div > div {
  clear: both;
}
#content > div > div > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(/assets/js/libs/boxsizing.htc);
  display: inline;
  float: left;
  width: 100%;
  padding: 0 20px;
}
#content > div > div section {
  background: #ccc;
}
#content > div > div section div {
  background: #6bac60;
  height: 3em;
  margin-bottom: 1.5em;
  border: 20px solid #dddddd;
  border-top: 0;
  border-bottom: 0;
}
#content > div > div section#one div:last-child,
#content > div > div section#two div:last-child,
#content > div > div section#three div:last-child,
#content > div > div section#four div:last-child,
#content > div > div section#five div:last-child,
#content > div > div section#six div:last-child,
#content > div > div section#seven div:last-child,
#content > div > div section#eight div:last-child,
#content > div > div section#nine div:last-child,
#content > div > div section#ten div:last-child,
#content > div > div section#eleven div:last-child {
  background: #eee;
}
#content > div > div section#one > div:first-child {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(/assets/js/libs/boxsizing.htc);
  display: inline;
  float: left;
  width: 8.333%;
  padding: 0 20px;
}
#content > div > div section#one > div:last-child {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(/assets/js/libs/boxsizing.htc);
  display: inline;
  float: left;
  width: 91.667%;
  padding: 0 20px;
}
#content > div > div section#two > div:first-child {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(/assets/js/libs/boxsizing.htc);
  display: inline;
  float: left;
  width: 16.667%;
  padding: 0 20px;
}
#content > div > div section#two > div:last-child {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(/assets/js/libs/boxsizing.htc);
  display: inline;
  float: left;
  width: 83.333%;
  padding: 0 20px;
}
#content > div > div section#three > div:first-child {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(/assets/js/libs/boxsizing.htc);
  display: inline;
  float: left;
  width: 25%;
  padding: 0 20px;
}
#content > div > div section#three > div:last-child {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(/assets/js/libs/boxsizing.htc);
  display: inline;
  float: left;
  width: 75%;
  padding: 0 20px;
}
#content > div > div section#four > div:first-child {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(/assets/js/libs/boxsizing.htc);
  display: inline;
  float: left;
  width: 33.333%;
  padding: 0 20px;
}
#content > div > div section#four > div:last-child {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(/assets/js/libs/boxsizing.htc);
  display: inline;
  float: left;
  width: 66.667%;
  padding: 0 20px;
}
#content > div > div section#five > div:first-child {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(/assets/js/libs/boxsizing.htc);
  display: inline;
  float: left;
  width: 41.667%;
  padding: 0 20px;
}
#content > div > div section#five > div:last-child {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(/assets/js/libs/boxsizing.htc);
  display: inline;
  float: left;
  width: 58.333%;
  padding: 0 20px;
}
#content > div > div section#six > div:first-child {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(/assets/js/libs/boxsizing.htc);
  display: inline;
  float: left;
  width: 50%;
  padding: 0 20px;
}
#content > div > div section#six > div:last-child {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(/assets/js/libs/boxsizing.htc);
  display: inline;
  float: left;
  width: 50%;
  padding: 0 20px;
}
#content > div > div section#seven > div:first-child {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(/assets/js/libs/boxsizing.htc);
  display: inline;
  float: left;
  width: 58.333%;
  padding: 0 20px;
}
#content > div > div section#seven > div:last-child {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(/assets/js/libs/boxsizing.htc);
  display: inline;
  float: left;
  width: 41.667%;
  padding: 0 20px;
}
#content > div > div section#eight > div:first-child {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(/assets/js/libs/boxsizing.htc);
  display: inline;
  float: left;
  width: 66.667%;
  padding: 0 20px;
}
#content > div > div section#eight > div:last-child {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(/assets/js/libs/boxsizing.htc);
  display: inline;
  float: left;
  width: 33.333%;
  padding: 0 20px;
}
#content > div > div section#nine > div:first-child {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(/assets/js/libs/boxsizing.htc);
  display: inline;
  float: left;
  width: 75%;
  padding: 0 20px;
}
#content > div > div section#nine > div:last-child {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(/assets/js/libs/boxsizing.htc);
  display: inline;
  float: left;
  width: 25%;
  padding: 0 20px;
}
#content > div > div section#ten > div:first-child {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(/assets/js/libs/boxsizing.htc);
  display: inline;
  float: left;
  width: 83.333%;
  padding: 0 20px;
}
#content > div > div section#ten > div:last-child {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(/assets/js/libs/boxsizing.htc);
  display: inline;
  float: left;
  width: 16.667%;
  padding: 0 20px;
}
#content > div > div section#eleven > div:first-child {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(/assets/js/libs/boxsizing.htc);
  display: inline;
  float: left;
  width: 91.667%;
  padding: 0 20px;
}
#content > div > div section#eleven > div:last-child {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(/assets/js/libs/boxsizing.htc);
  display: inline;
  float: left;
  width: 8.333%;
  padding: 0 20px;
}
#content > div > div section#thirds > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(/assets/js/libs/boxsizing.htc);
  display: inline;
  float: left;
  width: 33.333%;
  padding: 0 20px;
}
#content > div > div section#quarters > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(/assets/js/libs/boxsizing.htc);
  display: inline;
  float: left;
  width: 25%;
  padding: 0 20px;
}
#content > div > div section#sixths > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(/assets/js/libs/boxsizing.htc);
  display: inline;
  float: left;
  width: 16.667%;
  padding: 0 20px;
}
#content > div > div section#twelfths > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(/assets/js/libs/boxsizing.htc);
  display: inline;
  float: left;
  width: 8.333%;
  padding: 0 20px;
}

/**
 * NOTE
 * Don't add breakpoints aimed at device pixel widths,
 * add them where they suit best for your design. 
 */
@media screen and (max-width: 750px) {
  #content > div > section {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    *behavior: url(/assets/js/libs/boxsizing.htc);
    display: inline;
    float: left;
    width: 100%;
    padding: 0 20px;
  }
  #content > div > aside {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    *behavior: url(/assets/js/libs/boxsizing.htc);
    display: inline;
    float: left;
    width: 100%;
    padding: 0 0;
  }
  #content > div > aside > h2 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    *behavior: url(/assets/js/libs/boxsizing.htc);
    display: inline;
    float: left;
    width: 100%;
    padding: 0 20px;
    padding-top: 0.25em;
    margin-bottom: 0.5em;
  }
  #content > div > aside div#lists > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    *behavior: url(/assets/js/libs/boxsizing.htc);
    display: inline;
    float: left;
    width: 33.333%;
    padding: 0 20px;
  }
  #content > div > aside div#lists ul, #content > div > aside div#lists ol {
    padding-left: 10%;
  }
  #content > div > aside > div:last-child {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    *behavior: url(/assets/js/libs/boxsizing.htc);
    display: inline;
    float: left;
    width: 100%;
    padding: 0 0;
  }
  #content > div > aside > div:last-child > h2 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    *behavior: url(/assets/js/libs/boxsizing.htc);
    display: inline;
    float: left;
    width: 100%;
    padding: 0 20px;
    padding-top: 0.25em;
    margin-bottom: 0.5em;
  }
  #content > div > aside > div:last-child > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    *behavior: url(/assets/js/libs/boxsizing.htc);
    display: inline;
    float: left;
    width: 50%;
    padding: 0 20px;
  }
}
@media screen and (max-width: 520px) {
  #content > div > aside div#lists > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    *behavior: url(/assets/js/libs/boxsizing.htc);
    display: inline;
    float: left;
    width: 100%;
    padding: 0 20px;
  }
  #content > div > aside > div:last-child > h2 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    *behavior: url(/assets/js/libs/boxsizing.htc);
    display: inline;
    float: left;
    width: 100%;
    padding: 0 20px;
    padding-top: 0.25em;
    margin-bottom: 0.5em;
  }
  #content > div > aside > div:last-child > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    *behavior: url(/assets/js/libs/boxsizing.htc);
    display: inline;
    float: left;
    width: 100%;
    padding: 0 20px;
  }
  #content > div > aside > div:last-child p {
    margin-bottom: 0;
  }
  #content > div > aside > div:last-child div:last-child p {
    margin-bottom: 1.5em;
  }
}
=======
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;*behavior:url(/assets/js/libs/boxsizing.htc);}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]){display:none;height:0;}
[hidden]{display:none;}
html{font-size:100.01%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
html,button,input,select,textarea{font-family:sans-serif;}
body{margin:0;font-size:100%;color:#333333;line-height:1.5em;font-family:"Open Sans","Helvetica Neue",Arial,Helvetica,Sans-Serif;text-shadow:0 -1px 1px rgba(255, 255, 255, 0.01);-webkit-font-smoothing:antialiased;text-rendering:optimizeLegibility;-webkit-text-size-adjust:100%;}
::selection{background:#78aace;color:#ffffff;}
::-moz-selection{background:#78aace;color:#ffffff;}
img::selection{background:transparent;}
img::-moz-selection{background:transparent;}
body{-webkit-tap-highlight-color:#78aace;}
a{text-decoration:none;color:#6bac60;-webkit-transition:all .2s linear;-moz-transition:all .2s linear;-o-transition:all .2s linear;transition:all .2s linear;}
a:focus{outline:thin dotted;}
a:active,a:hover{color:#78aace;outline:0;}
h1,h2,h3,h4,h5,h6{margin:0;font-weight:bold;font-family:"Open Sans Condensed","Helvetica Neue",Arial,Helvetica,Sans-Serif;color:#111111;}
h1{font-size:3em;line-height:1;margin-bottom:0.5em;}
h2{font-size:2em;padding-top:0.25em;margin-bottom:0.5em;}
h3{font-size:1.5em;line-height:1;padding-top:0.35em;margin-bottom:0.65em;}
h4{font-size:1.2em;line-height:1.25;padding-top:0.45em;margin-bottom:0.8em;}
h5{font-size:1em;font-weight:bold;padding-top:0.6em;margin-bottom:0.9em;}
h6{font-size:1em;font-weight:bold;}
abbr[title],acronym{border-bottom:1px dotted #dddddd;}
address{margin:0 0 1.5em;}
b,strong{font-weight:bold;}
blockquote{margin:0 1.5em 1.5em;font-style:italic;}
em,dfn{font-style:italic;}
dfn{font-weight:bold;}
mark{line-height:1.5;background:#78aace;color:#ffffff;}
p{margin:0 0 1.5em;}
pre{white-space:pre;}
del{color:#dddddd;}
code,kbd,pre,samp{font-family:'andale mono','lucida console',monospace,serif;_font-family:'courier new',monospace;font-size:1em;line-height:1.5;}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;}
q{quotes:none;}
q:before,q:after{content:'';content:none;}
ins,small{font-size:75%;line-height:1.5;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
kbd,samp{line-height:1.4;}
hr{background:#cccccc;color:#cccccc;clear:both;float:none;width:100%;height:1px;margin:0 0 1.45em;border:none;}
menu,ol,ul{margin:0 1.5em 1.5em 0;}
menu,ul,ol{padding-left:1.5em;}
dl{margin:0 0 1.5em 0;}
dl dt{font-weight:bold;}
dd{margin-left:1.5em;}
ul{list-style-type:disc;}
ol{list-style-type:decimal;}
li ul,li ol{margin:0;}
nav ul,nav ol{list-style:none;list-style-image:none;margin:0;padding:0;}
img{border:0;-ms-interpolation-mode:bicubic;}
svg:not(:root){overflow:hidden;}
figure{margin:0;}
figure img{width:100%;height:auto;display:block;}
figcaption{font-size:small;font-style:italic;color:#666666;}
form{margin:0;}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}
legend{border:0;padding:0;white-space:normal;*margin-left:-7px;}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;}
button,input{line-height:normal;}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible;}
button[disabled],input[disabled]{cursor:default;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;*behavior:url(/assets/js/libs/boxsizing.htc);padding:0;*height:13px;*width:13px;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
textarea{overflow:auto;vertical-align:top;}
form{margin-bottom:1.5em;}
form ul{list-style-type:none;list-style-image:none;margin:0;padding:0;}form ul li{*zoom:1;margin-bottom:1.5em;}form ul li:before,form ul li:after{content:"";display:table;}
form ul li:after{clear:both;}
fieldset{margin:0;padding:1.5em;}
label{display:block;}
label.inline{display:inline;padding-right:24px;}
input:focus,textarea:focus,select:focus{outline:0px;-webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.3);-moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.3);-ms-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.3);box-shadow:0px 0px 5px rgba(0, 0, 0, 0.3);}
input[type="text"],input[type="url"],input[type="email"],input[type="number"],input[type="date"],input[type="month"],input[type="week"],input[type="time"],input[type="datetime-local"],input[type="telephone"],textarea{display:block;width:100%;margin:0 0 0.75em;padding:0.3em;border:1px solid #cccccc;line-height:1.5em;font-family:"Open Sans","Helvetica Neue",Arial,Helvetica,Sans-Serif;}
select{width:100%;height:2.1em;margin-bottom:0.9em;border:1px solid #cccccc;font-family:"Open Sans","Helvetica Neue",Arial,Helvetica,Sans-Serif;}
input[type="range"],input[type="color"]{vertical-align:middle;height:1.5em;width:100%;font-family:"Open Sans","Helvetica Neue",Arial,Helvetica,Sans-Serif;}
input[type="range"]{height:1.4em;}
input[type="color"]{width:1.5em;font-family:"Open Sans","Helvetica Neue",Arial,Helvetica,Sans-Serif;}
progress,meter{display:block;width:100%;height:1.5em;}
input[type="submit"],input[type="button"]{border:1px solid #cccccc;background:#ddd;padding:0.7em 2em;margin:0 20px 0 0;font-family:"Open Sans","Helvetica Neue",Arial,Helvetica,Sans-Serif;line-height:1.5em;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;border-radius:3px;}
table{border-collapse:collapse;border-spacing:0;margin-bottom:1.4em;width:100%;border:1px solid #cccccc;}
thead{text-align:left;font-weight:bold;}
tbody tr:nth-child(even) td{background:#dddddd;}
tfoot{font-style:italic;}
tfoot td,th{padding:.75em 10px;}
th,td,caption{border:1px solid #cccccc;}
td{padding:0 10px 0 10px;line-height:1.45em;}
caption{border-bottom:0;padding:.75em 10px;line-height:1.45em;text-align:left;font-style:italic;}
body{background:url(../images/bg.png) 0 2px;}
header#worlds_birth>div{*zoom:1;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;*behavior:url(/assets/js/libs/boxsizing.htc);display:block;max-width:1008px;margin:0 auto;padding:0 0;}header#worlds_birth>div:before,header#worlds_birth>div:after{content:"";display:table;}
header#worlds_birth>div:after{clear:both;}
header#worlds_birth>div hgroup{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;*behavior:url(/assets/js/libs/boxsizing.htc);display:inline;float:left;width:100%;padding:0 20px;*width:95.03968253968253%;*padding:0 19.950396825396826px;padding-top:1.5em;margin-bottom:2px;}
header#worlds_birth>div nav ul{*zoom:1;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;*behavior:url(/assets/js/libs/boxsizing.htc);display:inline;float:left;width:100%;padding:0 20px;*width:95.03968253968253%;*padding:0 19.950396825396826px;margin-bottom:1.5em;text-align:center;font-weight:bold;}header#worlds_birth>div nav ul:before,header#worlds_birth>div nav ul:after{content:"";display:table;}
header#worlds_birth>div nav ul:after{clear:both;}
header#worlds_birth>div nav ul li{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;*behavior:url(/assets/js/libs/boxsizing.htc);display:inline;float:left;width:25%;padding:0 0;*width:20.03968253968254%;*padding:0 -0.0496031746031746px;}header#worlds_birth>div nav ul li a{display:block;background:#6bac60;padding:.75em 0;border-right:1px solid #fff;color:#fff;}header#worlds_birth>div nav ul li a:hover,header#worlds_birth>div nav ul li a:focus{background:#78aace;}
#content>div{*zoom:1;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;*behavior:url(/assets/js/libs/boxsizing.htc);display:block;max-width:1008px;margin:0 auto;padding:0 0;}#content>div:before,#content>div:after{content:"";display:table;}
#content>div:after{clear:both;}
#content>div>section{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;*behavior:url(/assets/js/libs/boxsizing.htc);display:inline;float:left;width:66.66666666666666%;padding:0 20px;*width:61.706349206349195%;*padding:0 19.950396825396826px;}
#content>div>aside{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;*behavior:url(/assets/js/libs/boxsizing.htc);display:inline;float:left;width:33.33333333333333%;padding:0 20px;*width:28.373015873015873%;*padding:0 19.950396825396826px;}#content>div>aside>div:last-child p{margin-bottom:0;}
#content>div>aside>div:last-child div:last-child p{margin-bottom:1.5em;}
#content>div>div{clear:both;}#content>div>div>div{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;*behavior:url(/assets/js/libs/boxsizing.htc);display:inline;float:left;width:100%;padding:0 20px;*width:95.03968253968253%;*padding:0 19.950396825396826px;}
#content>div>div section{background:#ccc;}#content>div>div section div{background:#6bac60;height:3em;margin-bottom:1.5em;border:20px solid #dddddd;border-top:0;border-bottom:0;}
#content>div>div section#one div:last-child,#content>div>div section#two div:last-child,#content>div>div section#three div:last-child,#content>div>div section#four div:last-child,#content>div>div section#five div:last-child,#content>div>div section#six div:last-child,#content>div>div section#seven div:last-child,#content>div>div section#eight div:last-child,#content>div>div section#nine div:last-child,#content>div>div section#ten div:last-child,#content>div>div section#eleven div:last-child{background:#eee;}
#content>div>div section#one>div:first-child{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;*behavior:url(/assets/js/libs/boxsizing.htc);display:inline;float:left;width:8.333333333333332%;padding:0 20px;*width:3.373015873015873%;*padding:0 19.950396825396826px;}
#content>div>div section#one>div:last-child{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;*behavior:url(/assets/js/libs/boxsizing.htc);display:inline;float:left;width:91.66666666666666%;padding:0 20px;*width:86.7063492063492%;*padding:0 19.950396825396826px;}
#content>div>div section#two>div:first-child{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;*behavior:url(/assets/js/libs/boxsizing.htc);display:inline;float:left;width:16.666666666666664%;padding:0 20px;*width:11.706349206349206%;*padding:0 19.950396825396826px;}
#content>div>div section#two>div:last-child{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;*behavior:url(/assets/js/libs/boxsizing.htc);display:inline;float:left;width:83.33333333333334%;padding:0 20px;*width:78.37301587301587%;*padding:0 19.950396825396826px;}
#content>div>div section#three>div:first-child{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;*behavior:url(/assets/js/libs/boxsizing.htc);display:inline;float:left;width:25%;padding:0 20px;*width:20.03968253968254%;*padding:0 19.950396825396826px;}
#content>div>div section#three>div:last-child{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;*behavior:url(/assets/js/libs/boxsizing.htc);display:inline;float:left;width:75%;padding:0 20px;*width:70.03968253968253%;*padding:0 19.950396825396826px;}
#content>div>div section#four>div:first-child{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;*behavior:url(/assets/js/libs/boxsizing.htc);display:inline;float:left;width:33.33333333333333%;padding:0 20px;*width:28.373015873015873%;*padding:0 19.950396825396826px;}
#content>div>div section#four>div:last-child{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;*behavior:url(/assets/js/libs/boxsizing.htc);display:inline;float:left;width:66.66666666666666%;padding:0 20px;*width:61.706349206349195%;*padding:0 19.950396825396826px;}
#content>div>div section#five>div:first-child{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;*behavior:url(/assets/js/libs/boxsizing.htc);display:inline;float:left;width:41.66666666666667%;padding:0 20px;*width:36.70634920634921%;*padding:0 19.950396825396826px;}
#content>div>div section#five>div:last-child{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;*behavior:url(/assets/js/libs/boxsizing.htc);display:inline;float:left;width:58.333333333333336%;padding:0 20px;*width:53.37301587301587%;*padding:0 19.950396825396826px;}
#content>div>div section#six>div:first-child{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;*behavior:url(/assets/js/libs/boxsizing.htc);display:inline;float:left;width:50%;padding:0 20px;*width:45.03968253968254%;*padding:0 19.950396825396826px;}
#content>div>div section#six>div:last-child{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;*behavior:url(/assets/js/libs/boxsizing.htc);display:inline;float:left;width:50%;padding:0 20px;*width:45.03968253968254%;*padding:0 19.950396825396826px;}
#content>div>div section#seven>div:first-child{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;*behavior:url(/assets/js/libs/boxsizing.htc);display:inline;float:left;width:58.333333333333336%;padding:0 20px;*width:53.37301587301587%;*padding:0 19.950396825396826px;}
#content>div>div section#seven>div:last-child{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;*behavior:url(/assets/js/libs/boxsizing.htc);display:inline;float:left;width:41.66666666666667%;padding:0 20px;*width:36.70634920634921%;*padding:0 19.950396825396826px;}
#content>div>div section#eight>div:first-child{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;*behavior:url(/assets/js/libs/boxsizing.htc);display:inline;float:left;width:66.66666666666666%;padding:0 20px;*width:61.706349206349195%;*padding:0 19.950396825396826px;}
#content>div>div section#eight>div:last-child{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;*behavior:url(/assets/js/libs/boxsizing.htc);display:inline;float:left;width:33.33333333333333%;padding:0 20px;*width:28.373015873015873%;*padding:0 19.950396825396826px;}
#content>div>div section#nine>div:first-child{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;*behavior:url(/assets/js/libs/boxsizing.htc);display:inline;float:left;width:75%;padding:0 20px;*width:70.03968253968253%;*padding:0 19.950396825396826px;}
#content>div>div section#nine>div:last-child{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;*behavior:url(/assets/js/libs/boxsizing.htc);display:inline;float:left;width:25%;padding:0 20px;*width:20.03968253968254%;*padding:0 19.950396825396826px;}
#content>div>div section#ten>div:first-child{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;*behavior:url(/assets/js/libs/boxsizing.htc);display:inline;float:left;width:83.33333333333334%;padding:0 20px;*width:78.37301587301587%;*padding:0 19.950396825396826px;}
#content>div>div section#ten>div:last-child{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;*behavior:url(/assets/js/libs/boxsizing.htc);display:inline;float:left;width:16.666666666666664%;padding:0 20px;*width:11.706349206349206%;*padding:0 19.950396825396826px;}
#content>div>div section#eleven>div:first-child{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;*behavior:url(/assets/js/libs/boxsizing.htc);display:inline;float:left;width:91.66666666666666%;padding:0 20px;*width:86.7063492063492%;*padding:0 19.950396825396826px;}
#content>div>div section#eleven>div:last-child{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;*behavior:url(/assets/js/libs/boxsizing.htc);display:inline;float:left;width:8.333333333333332%;padding:0 20px;*width:3.373015873015873%;*padding:0 19.950396825396826px;}
#content>div>div section#thirds>div{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;*behavior:url(/assets/js/libs/boxsizing.htc);display:inline;float:left;width:33.33333333333333%;padding:0 20px;*width:28.373015873015873%;*padding:0 19.950396825396826px;}
#content>div>div section#quarters>div{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;*behavior:url(/assets/js/libs/boxsizing.htc);display:inline;float:left;width:25%;padding:0 20px;*width:20.03968253968254%;*padding:0 19.950396825396826px;}
#content>div>div section#sixths>div{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;*behavior:url(/assets/js/libs/boxsizing.htc);display:inline;float:left;width:16.666666666666664%;padding:0 20px;*width:11.706349206349206%;*padding:0 19.950396825396826px;}
#content>div>div section#twelfths>div{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;*behavior:url(/assets/js/libs/boxsizing.htc);display:inline;float:left;width:8.333333333333332%;padding:0 20px;*width:3.373015873015873%;*padding:0 19.950396825396826px;}
@media screen and (max-width:750px){#content>div>section{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;*behavior:url(/assets/js/libs/boxsizing.htc);display:inline;float:left;width:100%;padding:0 20px;*width:95.03968253968253%;*padding:0 19.950396825396826px;} #content>div>aside{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;*behavior:url(/assets/js/libs/boxsizing.htc);display:inline;float:left;width:100%;padding:0 0;*width:95.03968253968253%;*padding:0 -0.0496031746031746px;}#content>div>aside>h2{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;*behavior:url(/assets/js/libs/boxsizing.htc);display:inline;float:left;width:100%;padding:0 20px;*width:95.03968253968253%;*padding:0 19.950396825396826px;padding-top:0.25em;margin-bottom:0.5em;} #content>div>aside div#lists>div{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;*behavior:url(/assets/js/libs/boxsizing.htc);display:inline;float:left;width:33.33333333333333%;padding:0 20px;*width:28.373015873015873%;*padding:0 19.950396825396826px;} #content>div>aside div#lists ul,#content>div>aside div#lists ol{padding-left:10%;} #content>div>aside>div:last-child{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;*behavior:url(/assets/js/libs/boxsizing.htc);display:inline;float:left;width:100%;padding:0 0;*width:95.03968253968253%;*padding:0 -0.0496031746031746px;}#content>div>aside>div:last-child>h2{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;*behavior:url(/assets/js/libs/boxsizing.htc);display:inline;float:left;width:100%;padding:0 20px;*width:95.03968253968253%;*padding:0 19.950396825396826px;padding-top:0.25em;margin-bottom:0.5em;} #content>div>aside>div:last-child>div{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;*behavior:url(/assets/js/libs/boxsizing.htc);display:inline;float:left;width:50%;padding:0 20px;*width:45.03968253968254%;*padding:0 19.950396825396826px;}}@media screen and (max-width:520px){#content>div>aside div#lists>div{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;*behavior:url(/assets/js/libs/boxsizing.htc);display:inline;float:left;width:100%;padding:0 20px;*width:95.03968253968253%;*padding:0 19.950396825396826px;} #content>div>aside>div:last-child>h2{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;*behavior:url(/assets/js/libs/boxsizing.htc);display:inline;float:left;width:100%;padding:0 20px;*width:95.03968253968253%;*padding:0 19.950396825396826px;padding-top:0.25em;margin-bottom:0.5em;} #content>div>aside>div:last-child>div{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;*behavior:url(/assets/js/libs/boxsizing.htc);display:inline;float:left;width:100%;padding:0 20px;*width:95.03968253968253%;*padding:0 19.950396825396826px;} #content>div>aside>div:last-child p{margin-bottom:0;} #content>div>aside>div:last-child div:last-child p{margin-bottom:1.5em;}}
>>>>>>> fa02767... Adding an IE7 and 6 polyfill
